<div @state class="main__div">
    <ul *ngFor="let item of menuItems">
        <app-menu-item [itemTitle]="item" (itemClick)="onPageChanged($event)"></app-menu-item>
    </ul>
    <app-content-projection>
        <ul class="footer__ul">
            <li *ngFor="let url of socialMediaUrls; let i=index" class="footer__li">
                <a href={{my_profiles[i]}} #social_links>
                    <img class="footer__buttons" src={{url}} />
                </a>
            </li>
        </ul>
    </app-content-projection>
</div>