<app-nav-bar (toggleMenu)="toggleMenu()"></app-nav-bar>
<app-menu *ngIf="showMenu" (pageChanged)="changePage($event)"></app-menu>
<app-header></app-header>
<app-home @state *ngIf="displayPage === 'home'"></app-home>
<app-about @state *ngIf="displayPage === 'about'"></app-about>
<app-products @state *ngIf="displayPage === 'products'"  [products]="products" (showProductDetails)="showProductDetails($event)"></app-products>
<app-contact @state *ngIf="displayPage === 'contact'"></app-contact>
<app-product-details @state *ngIf="displayPage === 'details'" [product]="product" (goBack)="backClicked()"></app-product-details>

